html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  color: #00252e;
  box-sizing: border-box;
}

.wrapper {
  max-width: 144rem;
  margin: 0 auto;
}

.container {
  max-width: 130rem;
  margin: 0 auto;
}

.heading-primary {
  font-family: "Poppins", sans-serif;
  font-size: 4.5rem;
  font-weight: 700;
  font-style: normal;
}

.heading-tertiary {
  font-family: "Poppins", sans-serif;
  font-size: 3.5rem;
  font-weight: 700;
}

.text-center {
  text-align: center;
}

.u-margin-bottom-big {
  margin-bottom: 4rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 6rem;
}
.header__img {
  height: 3.5rem;
}
.header__btn {
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  color: #ff52bf;
  padding: 1.5rem 3rem;
  border: 1px solid;
  border-radius: 25px;
}

.banner {
  max-width: 78%;
  margin-top: 24rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 19rem;
  text-align: center;
}
.banner__top {
  margin-bottom: 10rem;
}
.banner__background {
  margin-bottom: 12.5rem;
}
.banner__sub {
  font-size: 1.6rem;
  margin: 4rem auto;
  width: 50%;
  line-height: 1.6;
}
.banner__number {
  display: flex;
  text-align: start;
  justify-content: space-around;
  align-items: center;
}
.banner__number-num {
  font-size: 7rem;
  font-weight: 700;
  margin: 2rem 0 3.5rem 0;
}
.banner__number-des {
  font-size: 2rem;
  color: #828b92;
}

.footer {
  color: #f5faff;
}
.footer__main-bg {
  background-color: #00252e;
  margin-top: -2px;
}
.footer__main {
  display: flex;
  justify-content: space-between;
  padding-top: 14rem;
  padding-bottom: 10rem;
}
.footer__des {
  max-width: 24%;
}
.footer__form {
  max-width: 41%;
}
.footer__title {
  font-size: 2rem;
  text-transform: uppercase;
  margin-top: 1.7rem;
  font-weight: 600;
}
.footer__paragraph {
  font-size: 1.3rem;
  margin: 3rem 0;
  line-height: 1.6;
  font-weight: 600;
}
.footer__paragraph--form {
  max-width: 62%;
}
.footer__contact-item {
  display: flex;
  margin-bottom: 1.8rem;
}
.footer__contact-icon {
  margin-right: 1.5rem;
}
.footer__social {
  margin-top: 5rem;
}
.footer__social a:link,
.footer__social a:visited {
  font-size: 3rem;
  margin-right: 2rem;
  color: #f5faff;
  text-decoration: none;
}
.footer__logo {
  -webkit-mask-image: url(../../images/logo.svg);
  display: block;
  width: 24rem;
  height: 3.9rem;
  background-color: #f5faff;
}

.btn {
  font-size: 1.6rem;
  display: inline-block;
  background-color: #ff52bf;
  text-decoration: none;
  color: #f5faff;
  padding: 3.5rem 10rem;
  font-weight: 600;
  border-radius: 50px;
  box-shadow: 0 1rem 2rem rgba(0, 37, 46, 0.25);
}

.feature {
  width: 100%;
  margin-bottom: 19rem;
}
.feature__img {
  width: 100%;
}
.feature__background {
  background-color: #f5faff;
  margin-top: -5px;
}
.feature__background--none {
  background-color: transparent;
}
.feature__box {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.feature__item {
  flex: 0 0 38%;
}
.feature__item img {
  width: 100%;
}
.feature__des {
  line-height: 1.6;
  margin-top: 3rem;
}

.form__input {
  width: 60%;
  background-color: #f5faff;
  color: #00252e;
  font-size: 1.3rem;
  border-radius: 5px;
  border: none;
  padding: 2rem 1rem;
  margin-right: 4rem;
}
.form__input:focus {
  outline: none;
}
.form__btn {
  font-weight: 600;
  font-size: 1.4rem;
  color: #f5faff;
  background-color: #ff52bf;
  padding: 2rem 4rem;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.form__btn:focus {
  outline: none;
}

.ready {
  margin-bottom: 18rem;
}

/*# sourceMappingURL=style.css.map */
