.heading-primary {
  font-family: $font-heading;
  font-size: 4.5rem;
  font-weight: 700;
  font-style: normal;
}

.heading-tertiary {
  font-family: $font-heading;
  font-size: 3.5rem;
  font-weight: 700;
}
