.nav {
  &__list {
    list-style: none;
  }

  &__item {
    display: inline-block;
    margin-left: 5rem;

    &:last-child {
      margin-left: 7.5rem;
    }
  }

  &__link,
  &__link:link,
  &__link:visited {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 400;
    transition: all 0.5s;

    &:hover {
      color: var(--primary-color);
    }
  }

  &__login {
    display: inline-block;
    padding: 10px 25px;
    border: 1px solid;
    border-radius: 30px;
  }
}
