.btn {
  font-size: 1.6rem;
  display: inline-block;
  background-color: $color-primary;
  text-decoration: none;
  color: $color-pale;
  padding: 3.5rem 10rem;
  font-weight: 600;
  border-radius: 50px;
  box-shadow: 0 1rem 2rem rgba($color-dark, 0.2);
}
