:root {
  --font-default: 'Poppins', sans-serif;

  --primary-color: #ffc87a;
  --primary-light-color: #ffea7b;

  --text-color: #1a2b5f;
  --text-color-1: #7d86a4;
}

// use shadow
$primary-color: #ffc87a;
$pink-color: #ff97c3;
$red-color: #ff706d;
$violet-color: #8598ff;
