:root {
  --font-default: 'Poppins', sans-serif;

  --primary-color: #ffc87a;
  --primary-light-color: #ffea7b;
  --violet-color: #ff6adf;
  --green-color: #92fa3c;
  --sky-color: #1ec0f4;
  --brown-color: #ff899c;
  --grey-light-color-1: #f2f1f6;
  --grey-light-color-2: #bfbfc9;
  --grey-light-color-3: #a9aec2;
  --text-color: #1a2b5f;
  --text-color-1: #7d86a4;
  --text-color-2: #152c70;
}

// use shadow
$primary-color: #ffc87a;
$pink-color: #ff97c3;
$red-color: #ff706d;
$blue-color: #8598ff;
