html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Public Sans", sans-serif;
  line-height: 1.3;
  color: $grayishBlue;
  font-weight: 300;
  font-size: $font-med;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  color: $grayishBlue;
}

.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-c {
    justify-content: center;
  }

  &-ai-c {
    align-items: center;
  }
}

// Buttons
button,
.button {
  padding: 1.4rem 3.5rem;
  border: none;
  border-radius: 50px;
  background: linear-gradient(to right, $limeGreen, $brightCyan);
  color: $White;
  cursor: pointer;
  font-weight: 700;
  transition: all 0.2s ease;

  &:hover {
    opacity: 0.75;
  }
}

button:focus {
  outline: none;
}

//  visibility
.hide-for-mobile {
  @include breakingpoint-down(medium) {
    display: none;
  }
}
.hide-for-desktop {
  @include breakingpoint-up(large) {
    display: none;
  }
}
