.header {
  &.open {
    .header__menu {
      > span:first-child {
        transform: rotate(45deg);
      }

      > span:nth-child(2) {
        opacity: 0;
      }

      > span:last-child {
        transform: rotate(-45deg);
      }
    }
  }
  .overlay {
    position: fixed;
    top: 6rem;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient($darkBlue, transparent);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in;
  }
  nav {
    padding: 1.7rem 2.4rem;
  }
  &__logo {
    img {
      width: 14.1rem;
      height: 2.2rem;
    }
  }

  &__menu {
    > span {
      display: block;
      width: 26px;
      height: 2px;
      background-color: $darkBlue;
      transform-origin: 3px 1px;
      transition: all 0.3s ease-in-out;

      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
  }

  &__links {
    a {
      font-size: $font-sm;
      transition: color 0.4s ease-in;
      position: relative;
      &:not(:last-child) {
        margin-right: 32px;
      }

      &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -28px;
        width: 0%;
        height: 5px;
        background: linear-gradient(to right, $limeGreen, $brightCyan);
        border-radius: 20px;
        transition: width 0.2s ease-in;
      }

      &:hover {
        color: $darkBlue;

        &::before {
          width: 100%;
        }
      }
    }
  }
}
